body {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../img/coffee.jpg');
    color: #333;
    height: 100vh;
}

nav {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

li {
    margin: 0;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #007bff;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 80px;
    /* Adjust based on nav height */
}

p {
    margin-top: 20px;
    text-align: center;
    font-size: 2em;
}