<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
</head>
<body>
    <style>
        body{
            font-size: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        button{
            height: 100px;
            width: 200px;
            border-radius: 30px;
        }
        
    </style>


    <h1>Welcome to Our Coffee Shop!</h1>
    <form action="/order" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <!-- Menu Options -->
        <label for="choice">Choose an item:</label>
        <select id="choice" name="choice">
            <option value="1">Coffee - GHS 30.00</option>
            <option value="2">Cappuccino - GHS 50.00</option>
            <option value="3">Tea - GHS 40.00</option>
            <option value="4">Hot Chocolate - GHS 35.00</option>
            <option value="5">Tropical Fruit Juice - GHS 60.00</option>
            <option value="6">Beef Roll - GHS 20.00</option>
            <option value="7">Meat Pie - GHS 10.00</option>
            <option value="8">Sandwich - GHS 30.00</option>
            <option value="9">Cupcake - GHS 25.00</option>
            <option value="10">Spring Roll - GHS 15.00</option>
        </select><br><br>

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="1" required><br><br>

        <button type="submit" name="action" value="add_to_cart">Add to Cart</button>
        <button type="submit" name="action" value="checkout">Checkout</button>
    </form>
</body>
</html>
