<!DOCTYPE html>
    <html>
        <head>
            <title>Login</title>
        </head>
        <body>
            <style>
                body{
                    font-size: 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                
                input{
                    height: 50px;
                    width: 200px;
                    border-radius: 10px;
                    margin-top: 20px;
                }
                
            </style>

            <h1>Login</h1>
            <div>
                <form method="post">
                    <input type="text" name="username" placeholder="Username" required><br>
                    <input type="password" name="password" placeholder="Password" required><br>
                    <input type="submit" value="Login">
                </form>
            </div>
        </body>
    </html>
 