<!-- staff_page.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Page</title>
</head>
<body>
    <h1>Order History</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Order Number</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in order_history %}
            <tr>
                <td>{{ order[0] }}</td>
                <td>{{ order[1] }}</td>
                <td>{{ order[2] }}</td>
                <td>{{ order[3] }}</td>
                <td>{{ order[5] }}</td>
                <td>{{ order[7] }}</td>
                <td>{{ order[8] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
