<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Page</title>
</head>
<body>
    <style>
         body{
            font-size: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        select{
            height: 50px;
            width: 500px;
            border-radius: 10px;
            margin-top: 20px;
            font-size: 30px;
        }
    </style>

    <div>
        <label for="staff-choice">Choose an option:</label><br>
        <select name="staff-choice" id="staff-choice">
            <option value="1">Check last order</option>
            <option value="2">Check all previous orders</option>
            <option value="3">Approve orders</option>
            <option value="4">Report Generation</option>
        </select>
    </div>
</body>
</html>
